.contact-page {
  background: url("/Users/come/Documents/GitHub/Sabah-Road-Care/frontend/src/assets/SRCBackground.png")
    no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 50px;
  color: white;
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
}

.contact-container h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.name-fields {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.name-fields div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
}

textarea {
  resize: none;
}

button {
  width: 120px;
  padding: 12px;
  background-color: limegreen;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
